.note-container{
    width: 60%;
    max-width: 750px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
}

.note-item {
    display: block;
    margin: 1rem auto;
    padding: 1rem 1rem;
    width: 80%;
    height: 15%;
    border-style: none;
    background-color:#e4815d;
    box-shadow: 5px 5px 5px gray;
    text-transform: capitalize;
    border-radius: 10px;
    overflow-wrap: break-word;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

.delete-button{
    display: inline;
    justify-self: flex-start;
    font-size: 0.8em;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    background-color: orangered;
    padding: 0.5rem 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 0;
}

.edit-button{
    display: inline;
    font-size: 0.8em;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    background-color: orangered;
    padding: 0.5rem 0.3rem;
    box-sizing: border-box;
    cursor: pointer;   
    margin-left: 0.5rem;
}

@media (max-width: 1024px){
    .note-container{
        flex-direction: column;
    }
    .buttons{
        align-self: start;
        margin-left: 3rem;
    }
}

@media (max-width: 800px) {
    .note-container{
        width: 80%;
        flex-direction: column;
    }   
    .buttons{
        align-self: flex-start;
        margin-left: 3rem;
    }
}

@media (max-width: 400px) {
    .note-container{
        width: 80%;
        flex-direction: column;
    }   
    .buttons{
        align-self: flex-start;
        margin-left: 1rem;
    }
}